<a href="https://colab.research.google.com/github/ludawg44/jigsawlabs/blob/master/04Apr20_0_numpy_pandas_review_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy and Pandas Review

### Introduction

In this lesson, we'll work through some problems with our spotify dataset to practice pandas and numpy skills.

Let's load up our data.

In [0]:
!pip install gcsfs

Requirement already satisfied: gcsfs in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (1.7.2)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.7.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gcsfs) (2.21.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (4.0)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (3.1.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (1.12.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (46.0.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2.8)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.0)

In [0]:
import pandas as pd

url = "gs://curriculum-assets/mod-2/spotify.csv"
df = pd.read_csv(url, encoding = 'ISO-8859-1', index_col = 0)

In [0]:
import numpy as np
songs_np = df.to_numpy()

### Selecting Data

In [0]:
df[:3]

                  title  artist        top genre  year  ...  dur  acous  spch  pop
1      Hey, Soul Sister   Train       neo mellow  2010  ...  217     19     4   83
2  Love The Way You Lie  Eminem  detroit hip hop  2010  ...  263     24    23   82
3               TiK ToK   Kesha        dance pop  2010  ...  200     10    14   80

[3 rows x 14 columns]

Begin by using numpy to select all songs of the genre dance pop.

In [0]:
# This was done using pandas, not numpy
# dance_pop_np = df[df['top genre']=='dance pop'][:3]

In [0]:
dance_pop_np = songs_np[songs_np[:,2]=='dance pop']
dance_pop_np

array([['TiK ToK', 'Kesha', 'dance pop', ..., 10, 14, 80],
       ['Bad Romance', 'Lady Gaga', 'dance pop', ..., 0, 4, 79],
       ['Dynamite', 'Taio Cruz', 'dance pop', ..., 0, 9, 77],
       ...,
       ['Find U Again (feat. Camila Cabello)', 'Mark Ronson',
        'dance pop', ..., 1, 3, 75],
       ['No Brainer (feat. Justin Bieber, Chance the Rapper & Quavo)',
        'DJ Khaled', 'dance pop', ..., 7, 34, 70],
       ['Nothing Breaks Like a Heart (feat. Miley Cyrus)', 'Mark Ronson',
        'dance pop', ..., 1, 7, 69]], dtype=object)

In [0]:
dance_pop_np[:3]

# array([['TiK ToK', 'Kesha', 'dance pop', 2010, 120, 84, 76, -3, 29, 71,
#         200, 10, 14, 80],
#        ['Bad Romance', 'Lady Gaga', 'dance pop', 2010, 119, 92, 70, -4,
#         8, 71, 295, 0, 4, 79],
#        ['Dynamite', 'Taio Cruz', 'dance pop', 2010, 120, 78, 75, -4, 4,
#         82, 203, 0, 9, 77]], dtype=object)

         title     artist  top genre  year  bpm  ...  val  dur  acous  spch  pop
3      TiK ToK      Kesha  dance pop  2010  120  ...   71  200     10    14   80
4  Bad Romance  Lady Gaga  dance pop  2010  119  ...   71  295      0     4   79
7     Dynamite  Taio Cruz  dance pop  2010  120  ...   82  203      0     9   77

[3 rows x 14 columns]

Then use pandas to select the valence scores of the first five rows.  Do so first using `iloc` and then `loc`.

In [0]:
first_five_val_iloc = df['val'].iloc[:5]
first_five_val_iloc
# 1    80
# 2    64
# 3    71
# 4    71
# 5    43
# Name: val, dtype: int64

1    80
2    64
3    71
4    71
5    43
Name: val, dtype: int64

In [0]:
first_five_val_loc = df['val'].loc[:5]
first_five_val_loc
# 1    80
# 2    64
# 3    71
# 4    71
# 5    43
# Name: val, dtype: int64

Next without using loc, or iloc, select only the `title` and  `artist` columns.

In [0]:
songs_artists_df = df[['title','artist']]

In [0]:
songs_artists_df[:3]

# title	artist
# 1	Hey, Soul Sister	Train
# 2	Love The Way You Lie	Eminem
# 3	TiK ToK	Kesha

                  title  artist
1      Hey, Soul Sister   Train
2  Love The Way You Lie  Eminem
3               TiK ToK   Kesha

Select the rows where all val, acous, and pop have scores above 55.

In [0]:
over_fiftyfive = df[['val', 'acous', 'pop']]> 55
over_fiftyfive

       val  acous   pop
1     True  False  True
2     True  False  True
3     True  False  True
4     True  False  True
5    False  False  True
..     ...    ...   ...
599  False  False  True
600   True  False  True
601   True  False  True
602  False  False  True
603  False  False  True

[603 rows x 3 columns]

In [0]:
over_fiftyfive_fixed = np.all(over_fiftyfive, axis=1)
over_fiftyfive_fixed

1      False
2      False
3      False
4      False
5      False
       ...
599    False
600    False
601    False
602    False
603    False
Length: 603, dtype: bool

In [0]:
good_scores_df = df[over_fiftyfive_fixed]
good_scores_df

# 	title	artist	top genre	year	bpm	nrgy	dnce	dB	live	val	dur	acous	spch	pop
# 280	What Do You Mean?	Justin Bieber	canadian pop	2015	125	57	85	-8	8	79	206	59	10	79
# 310	Trumpets	Jason Derulo	dance pop	2015	82	70	63	-5	10	64	217	56	24	69
# 330	What Do You Mean? - Acoustic	Justin Bieber	canadian pop	2015	125	36	77	-11	10	76	204	79	4	64
# 444	Shape of You	Ed Sheeran	pop	2017	96	65	83	-3	9	93	234	58	8	87
# 560	Walk On Water (feat. Beyoncé)	Eminem	detroit hip hop	2018	82	44	48	-10	64	62	304	81	24	65
# 573	Memories	Maroon 5	pop	2019	91	32	76	-7	8	57	189	84	5	99

                             title         artist  ... spch  pop
280              What Do You Mean?  Justin Bieber  ...   10   79
310                       Trumpets   Jason Derulo  ...   24   69
330   What Do You Mean? - Acoustic  Justin Bieber  ...    4   64
444                   Shape of You     Ed Sheeran  ...    8   87
560  Walk On Water (feat. Beyoncé)         Eminem  ...   24   65
573                       Memories       Maroon 5  ...    5   99

[6 rows x 14 columns]

### Sorting Data

Begin by using pandas to sort all of the rows by the `dnce` score, from highest to lowest.

In [0]:
df[:3]

                  title  artist        top genre  year  ...  dur  acous  spch  pop
1      Hey, Soul Sister   Train       neo mellow  2010  ...  217     19     4   83
2  Love The Way You Lie  Eminem  detroit hip hop  2010  ...  263     24    23   82
3               TiK ToK   Kesha        dance pop  2010  ...  200     10    14   80

[3 rows x 14 columns]

In [0]:
df.sort_values(by='dnce', ascending=False)

                                                 title  ... pop
571                                 Drip (feat. Migos)  ...  45
540                                           Bad Liar  ...  75
258                                           Anaconda  ...  50
390                                             Me Too  ...  73
478                                       Bodak Yellow  ...  70
..                                                 ...  ...  ..
353                                            St Jude  ...  47
278  Love Me Like You Do - From "Fifty Shades Of Grey"  ...  79
518                        Dusk Till Dawn - Radio Edit  ...  83
45                                         You Lost Me  ...  56
443                                  Million Years Ago  ...   0

[603 rows x 14 columns]

In [0]:
sorted_dnce = df['dnce'].sort_values()[::-1]
sorted_dnce_index = sorted_dnce.index

In [0]:
most_dancey = df.loc[sorted_dnce_index]

In [0]:
most_dancey[:4]


# title	artist	top genre	year	bpm	nrgy	dnce	dB	live	val	dur	acous	spch	pop
# 571	Drip (feat. Migos)	Cardi B	pop	2018	130	59	97	-8	8	27	264	5	26	45
# 540	Bad Liar	Selena Gomez	dance pop	2018	121	41	97	-6	8	73	215	19	7	75
# 258	Anaconda	Nicki Minaj	dance pop	2014	130	60	96	-6	21	65	260	7	18	50
# 390	Me Too	Meghan Trainor	dance pop	2016	124	69	93	-6	48	84	181	10	10	73
#

                  title          artist  top genre  year  ...  dur  acous  spch  pop
540            Bad Liar    Selena Gomez  dance pop  2018  ...  215     19     7   75
571  Drip (feat. Migos)         Cardi B        pop  2018  ...  264      5    26   45
258            Anaconda     Nicki Minaj  dance pop  2014  ...  260      7    18   50
390              Me Too  Meghan Trainor  dance pop  2016  ...  181     10    10   73

[4 rows x 14 columns]

Then use numpy to do the same.

We'll get you started.

In [0]:
df.columns.tolist().index('dnce')

6

> The ordering may be slightly different than the one above, as there are ties.  Still use numpy to sort the rows by danciness.

In [0]:
sorted_songs_np = songs_np[songs_np[:,6].argsort()]

In [0]:
sorted_songs_np
# array([['Bad Liar', 'Selena Gomez', 'dance pop', ..., 19, 7, 75],
#        ['Drip (feat. Migos)', 'Cardi B', 'pop', ..., 5, 26, 45],
#        ['Anaconda', 'Nicki Minaj', 'dance pop', ..., 7, 18, 50],
#        ...,
#        ['St Jude', 'Florence + The Machine', 'art pop', ..., 75, 3, 47],
#        ['You Lost Me', 'Christina Aguilera', 'dance pop', ..., 85, 4, 56],
#        ['Million Years Ago', 'Adele', 'british soul', ..., 0, 0, 0]],
#       dtype=object)

array([['Million Years Ago', 'Adele', 'british soul', ..., 0, 0, 0],
       ['You Lost Me', 'Christina Aguilera', 'dance pop', ..., 85, 4, 56],
       ['St Jude', 'Florence + The Machine', 'art pop', ..., 75, 3, 47],
       ...,
       ['Anaconda', 'Nicki Minaj', 'dance pop', ..., 7, 18, 50],
       ['Drip (feat. Migos)', 'Cardi B', 'pop', ..., 5, 26, 45],
       ['Bad Liar', 'Selena Gomez', 'dance pop', ..., 19, 7, 75]],
      dtype=object)

For each row, add up the sum of the last 10 columns either in numpy.

In [0]:
sum_of_features = np.sum(songs_np[:, -10:], axis = 1)

In [0]:
sum_of_features[:3]

# array([660, 758, 681], dtype=object)

array([660, 758, 681], dtype=object)

Now we'll add this to the pandas dataframe.

In [0]:
total_score = pd.Series(sum_of_features, name = 'total_score')

Now we'll assign total score to our dataframe.

In [0]:
df_with_total = df.assign(total_score = total_score)

In [0]:
df_with_total[:3]

                  title  artist        top genre  ...  spch  pop  total_score
1      Hey, Soul Sister   Train       neo mellow  ...     4   83          758
2  Love The Way You Lie  Eminem  detroit hip hop  ...    23   82          681
3               TiK ToK   Kesha        dance pop  ...    14   80          734

[3 rows x 15 columns]

Now look through the following dataframe `selected_df`.

In [0]:
cols = ['title', 'artist', 'top genre', 'year',  'nrgy', 'dnce', 
       'live', 'val',  'acous', 'spch', 'pop']
selected_df = df[cols]

In [0]:
selected_df[:3]

                  title  artist        top genre  year  ...  val  acous  spch  pop
1      Hey, Soul Sister   Train       neo mellow  2010  ...   80     19     4   83
2  Love The Way You Lie  Eminem  detroit hip hop  2010  ...   64     24    23   82
3               TiK ToK   Kesha        dance pop  2010  ...   71     10    14   80

[3 rows x 11 columns]

In the last eight columns (everything after year), find the song whose maximum value across all 8 of those columns, is the smallest for all songs.  In other words, which song has the lowest, high score.

In [0]:
selected_np = selected_df.to_numpy()
selected_np[:3]

array([['Hey, Soul Sister', 'Train', 'neo mellow', 2010, 89, 67, 8, 80,
        19, 4, 83],
       ['Love The Way You Lie', 'Eminem', 'detroit hip hop', 2010, 93,
        75, 52, 64, 24, 23, 82],
       ['TiK ToK', 'Kesha', 'dance pop', 2010, 84, 76, 29, 71, 10, 14,
        80]], dtype=object)

In [0]:
selected_np[np.max(selected_np[:,-7:], axis=1).argsort()][0]

# array(['Million Years Ago', 'Adele', 'british soul', 2016, 0, 0, 0, 0, 0,
#        0, 0], dtype=object)

array(['Million Years Ago', 'Adele', 'british soul', 2016, 0, 0, 0, 0, 0,
       0, 0], dtype=object)

Now find the bottom five.

In [0]:
cols = 
bottom_five = selected_np[np.max(selected_np[:,-7:], axis=1).argsort()][:5]
bottom_five_df = pd.DataFrame(bottom_five)
bottom_five_df
# 	title	artist	top genre	year	nrgy	dnce	live	val	acous	spch	pop
# 443	Million Years Ago	Adele	british soul	2016	0	0	0	0	0	0	0
# 360	Run Run Run	Kelly Clarkson	dance pop	2015	37	28	11	8	45	4	36
# 363	L.A.LOVE (la la)	Fergie	dance pop	2015	39	48	26	27	2	9	0
# 208	Foolish Games	Jewel	alaska indie	2013	34	51	12	7	23	3	36
# 262	Words as Weapons	Birdy	neo mellow	2014	35	53	14	19	28	3	44

                  0               1             2     3   4   ...  6   7   8  9   10
0  Million Years Ago           Adele  british soul  2016   0  ...   0   0   0  0   0
1        Run Run Run  Kelly Clarkson     dance pop  2015  37  ...  11   8  45  4  36
2   L.A.LOVE (la la)          Fergie     dance pop  2015  39  ...  26  27   2  9   0
3      Foolish Games           Jewel  alaska indie  2013  34  ...  12   7  23  3  36
4   Words as Weapons           Birdy    neo mellow  2014  35  ...  14  19  28  3  44

[5 rows x 11 columns]