<a href="https://colab.research.google.com/github/ludawg44/jigsawlabs/blob/master/11Apr20_0_discussion_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Discussion Questions

### Introduction

A foundation of exploratory statistics is creating a histogram.  As Python developers and data scientists, we should be familiar with the various ways that we can create one.  In this lesson, we'll create histograms from our movie dataset, and review how to do so in Python.

### Loading our Data

In [0]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/modeling-distributions/master/imdb_movies.csv"
df = pd.read_csv(url)

In [0]:
df[:3]

,title,genre,budget,runtime,year,month,revenue
0,Avatar,Action,237000000,162.0,2009,12,2787965087
1,Pirates of the Caribbean: At World's End,Adventure,300000000,169.0,2007,5,961000000
2,Spectre,Action,245000000,148.0,2015,10,880674609

In [0]:
movies = df.to_numpy()

Next we'll select the years and genres of the movies in our dataset.

In [0]:
genres = movies[:, 1]
genres

array(['Action', 'Adventure', 'Action', ..., 'Romance', nan, 'Fantasy'],
      dtype=object)

Let's start by reviewing some Python.

1. Write a function that finds all moves by the genre in Python.

In [0]:
movies_py = df.to_dict('records')
movies_py[:2]

[{'title': 'Avatar',
  'genre': 'Action',
  'budget': 237000000,
  'runtime': 162.0,
  'year': 2009,
  'month': 12,
  'revenue': 2787965087},
 {'title': "Pirates of the Caribbean: At World's End",
  'genre': 'Adventure',
  'budget': 300000000,
  'runtime': 169.0,
  'year': 2007,
  'month': 5,
  'revenue': 961000000}]

In [0]:
def find_by_genre(genre, movies):
    pass

In [0]:
action_movies = find_by_genre("Action", movies_py)

In [0]:
action_movies[:2]
# [{'title': 'Avatar',
#   'genre': 'Action',
#   'budget': 237000000,
#   'runtime': 162.0,
#   'year': 2009,
#   'month': 12,
#   'revenue': 2787965087},
#  {'title': 'Spectre',
#   'genre': 'Action',
#   'budget': 245000000,
#   'runtime': 148.0,
#   'year': 2015,
#   'month': 10,
#   'revenue': 880674609}]

[{'title': 'Avatar',
  'genre': 'Action',
  'budget': 237000000,
  'runtime': 162.0,
  'year': 2009,
  'month': 12,
  'revenue': 2787965087},
 {'title': 'Spectre',
  'genre': 'Action',
  'budget': 245000000,
  'runtime': 148.0,
  'year': 2015,
  'month': 10,
  'revenue': 880674609}]

Next write a method that allows us to scope down our list of dictionaries.  For example, if we provide it with the list `['title', 'budget']` it will return to us a list of movie dictionaries with just the title and budget.

First let's do this for a single movie.

In [0]:
first_movie = movies_py[0]

In [0]:
def scope_movie(movie, keys = []):
    pass

In [0]:
scope_movie(first_movie, ['title', 'budget'])
# {'title': 'Avatar', 'budget': 237000000}

{'title': 'Avatar', 'budget': 237000000}

In [0]:
def scope_movies(movies, keys = []):
    pass

In [0]:
title_and_budgets = scope_movies(movies_py, ['title', 'budget'])

In [0]:
title_and_budgets[:3]
# [{'title': 'Avatar', 'budget': 237000000},
#  {'title': "Pirates of the Caribbean: At World's End", 'budget': 300000000},
#  {'title': 'Spectre', 'budget': 245000000}]

[{'title': 'Avatar', 'budget': 237000000},
 {'title': "Pirates of the Caribbean: At World's End", 'budget': 300000000},
 {'title': 'Spectre', 'budget': 245000000}]

### Building Histograms

1. Creating a histogram in Python

In [0]:
py_genres = genres.tolist()
py_genres[:3]

['Action', 'Adventure', 'Action']

First use Python to find a unique list of the genres.

In [0]:
unique_genres = None

unique_genres
# [nan,
#  'Thriller',
#  'Animation',
#  'Comedy',
#  'Drama',
#  'Action',
#  'Romance',
#  'Fantasy',
#  'Science Fiction',
#  'Crime',
#  'Horror',
#  'Adventure']

The next step is to create a starting dictionary where each key is a different value, and the corresponding value is 0.

* We'll use the `dict.from_keys` method in Python to initialize a dictionary where each value is zero.

In [0]:
hist = dict.fromkeys(unique_genres, 0)
hist

# {nan: 0,
#  'Thriller': 0,
#  'Animation': 0,
#  'Comedy': 0,
#  'Drama': 0,
#  'Action': 0,
#  'Romance': 0,
#  'Fantasy': 0,
#  'Science Fiction': 0,
#  'Crime': 0,
#  'Horror': 0,
#  'Adventure': 0}

{nan: 0,
 'Thriller': 0,
 'Animation': 0,
 'Comedy': 0,
 'Drama': 0,
 'Action': 0,
 'Romance': 0,
 'Fantasy': 0,
 'Science Fiction': 0,
 'Crime': 0,
 'Horror': 0,
 'Adventure': 0}

Ok, now it's time to populate our dictionary with the correct numbers.

In [0]:
# write code here

In [0]:
hist
# {nan: 84,
#  'Thriller': 73,
#  'Animation': 93,
#  'Comedy': 359,
#  'Drama': 365,
#  'Action': 483,
#  'Romance': 40,
#  'Fantasy': 80,
#  'Science Fiction': 52,
#  'Crime': 76,
#  'Horror': 59,
#  'Adventure': 236}

{nan: 84,
 'Thriller': 73,
 'Animation': 93,
 'Comedy': 359,
 'Drama': 365,
 'Action': 483,
 'Romance': 40,
 'Fantasy': 80,
 'Science Fiction': 52,
 'Crime': 76,
 'Horror': 59,
 'Adventure': 236}

### Histogram with Counter

Another way that we can create a histogram in Python is with the Counter method in Python's collection library.

In [0]:
from collections import Counter

In [0]:
py_from_counter = dict(Counter(py_genres))

In [0]:
py_from_counter
# {'Action': 483,
#  'Adventure': 236,
#  'Fantasy': 80,
#  'Animation': 93,
#  'Science Fiction': 52,
#  'Drama': 365,
#  'Thriller': 73,
#  nan: 84,
#  'Comedy': 359,
#  'Romance': 40,
#  'Crime': 76,
#  'Horror': 59}

{'Action': 483,
 'Adventure': 236,
 'Fantasy': 80,
 'Animation': 93,
 'Science Fiction': 52,
 'Drama': 365,
 'Thriller': 73,
 nan: 84,
 'Comedy': 359,
 'Romance': 40,
 'Crime': 76,
 'Horror': 59}

In [0]:
type(py_from_counter)
# dict

dict

### Plotting our data in Matplotlib

Now to plot the data above we should use a bar chart in matplotlib.  Remember that we use a bar chart when our data is separated into categories, and we are passing both x and y values.

Use Python to get a list of the keys from the `py_from_counter` dictionary.  Assign them to the variable `x_vals`.

In [0]:
x_vals = None
x_vals
# ['Action','Adventure', 'Fantasy', 'Animation',
#  'Science Fiction', 'Drama', 'Thriller', nan,  'Comedy',
#  'Romance',  'Crime',  'Horror']

['Action',
 'Adventure',
 'Fantasy',
 'Animation',
 'Science Fiction',
 'Drama',
 'Thriller',
 nan,
 'Comedy',
 'Romance',
 'Crime',
 'Horror']

Use Python to get a list of values from the `py_from_counter` dictionary.  Assign them to the variable `y_vals`.

In [0]:
y_vals = None
y_vals
# [483, 236, 80, 93, 52, 365, 73, 84, 359, 40, 76, 59]

[483, 236, 80, 93, 52, 365, 73, 84, 359, 40, 76, 59]

Now matplotlib will not accept `nan` as an x value, so use a loop to create a list of x values that does not include nan, and then use a loop to remove the corresponding y value.

In [0]:
x_vals_select = None
x_vals_select
# ['Action',
#  'Adventure',
#  'Fantasy',
#  'Animation',
#  'Science Fiction',
#  'Drama',
#  'Thriller',
#  'Comedy',
#  'Romance',
#  'Crime',
#  'Horror']

In [0]:
y_vals_select = None

In [0]:
y_vals_select

# [483, 236, 80, 93, 52, 365, 73, 359, 40, 76, 59]

Now we can plot this in matplotlib using a horizontal bar plot.

In [0]:
import matplotlib.pyplot as plt

> Answer: <img src="https://github.com/jigsawlabs-student/modeling-distributions/blob/master/hz-genre-plot.png?raw=1" width="50%">