<a href="https://colab.research.google.com/github/ludawg44/jigsawlabs/blob/master/Copy_of_7_numpy_and_or.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Conditions with And and Or and Not

### Introduction

In the last lesson, we saw how we can use the `isin` condition to see if an item matches one of multiple values.

In [0]:
import numpy as np
increasing_grid = np.arange(1, 26).reshape(5, 5)
increasing_grid

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [0]:
np.isin(increasing_grid[0, :], [1, 3, 5])

array([ True, False,  True, False,  True])

And we saw that we can use `any` condition to query if any value in an array is True.

In [0]:
increasing_grid[0, :] == 2

array([False,  True, False, False, False])

In [0]:
np.any(increasing_grid[0, :] == 2)

True

Now let's see how we can perform queries with **multiple conditions** in a single numpy call.

### Using And

Let's start with a familiar query of only returning rows where the second column is odd.

In [0]:
import numpy as np
increasing_grid = np.arange(1, 26).reshape(5, 5)
increasing_grid

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [0]:
increasing_grid[increasing_grid[:, 2] % 2 == 1]

array([[ 1,  2,  3,  4,  5],
       [11, 12, 13, 14, 15],
       [21, 22, 23, 24, 25]])

Now, let's say that we only want to return rows where the second item is odd, and the third item is less than 15.

In [0]:
increasing_grid[(increasing_grid[:, 2] % 2 == 1) & (increasing_grid[:, 2] < 15)]

array([[ 1,  2,  3,  4,  5],
       [11, 12, 13, 14, 15]])

> Notice that how we achieve this.  We surround each query with parentheses, and only return rows that return True for both queries by placing an `&` in between.

Now try it on your own.  Select the elements where the first item is even and where the last item is greater than 10.

In [0]:


# array([[16, 17, 18, 19, 20]])

array([[16, 17, 18, 19, 20]])

### Using Or

Ok, now we can use or statements with use of the `|` (pipe) character.

Let's select all of the rows where the third column is `1` **or** the third column is less than 15.

In [0]:
increasing_grid[(increasing_grid[:, 2] % 2 == 1) | (increasing_grid[:, 2] < 15)]

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [21, 22, 23, 24, 25]])

Try it on your own.

Select the rows where the fourth item is odd or the first item is greater than 15.

In [0]:


# array([[ 6,  7,  8,  9, 10],
#        [16, 17, 18, 19, 20],
#        [21, 22, 23, 24, 25]])

array([[ 6,  7,  8,  9, 10],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

Finally, we can use not with the `~` symbol.

In [0]:
increasing_grid

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [0]:
first_row = increasing_grid[0, :]

first_row

array([1, 2, 3, 4, 5])

In [0]:
first_row[~np.isin(first_row, [1, 3])]

array([2, 4, 5])

### Summary

In this lesson, how we can use numpy's `&` and `|` operators, to return items so that we can use multiple conditions in our query.  If we only wish to return items meet both conditions we use the `&` operator, and demarcate each condition with parentheses.

```python
increasing_grid[(increasing_grid[:, 2] % 2 == 0) & (increasing_grid[:, -1] > 10)]
```

To return items that match one of two conditions, we use the `|` operator.

```python
increasing_grid[(increasing_grid[:, 2] % 2 == 0) | (increasing_grid[:, -1] > 10)]
```

### Solutions

* & problem

In [0]:
increasing_grid[(increasing_grid[:, 2] % 2 == 0) & (increasing_grid[:, -1] > 10)]

array([[16, 17, 18, 19, 20]])

* | problem

In [0]:
increasing_grid[(increasing_grid[:, 3] % 2 == 1)| (increasing_grid[:, 2] > 15)]

array([[ 6,  7,  8,  9, 10],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])